<head>
<meta charset="utf-8">
<style>
     #pirmais-paragrafs {
         font-size: 35px;
         margin-top: 0px;
     }

     #pirmais-paragrafs:hover {
         opacity: 60%;
     }
      
      p {
          color: rebeccapurple;
      }

    .red {
        color: slateblue;
        font-weight: bold;
    }

    #header {
        width: 100%;
        height: 150px;
        background-color: lavender;
    }
    #sidebar {
         width: 30%;
         height: 600px;
         background-color: plum;
         float: left;
    }

    #content {
      width: 70%;
      height: 600px;
      background-color: pink;
      margin-left: 30%;
    }

    #footer {
        width: 100%;
        height: 100px;
        background-color: rosybrown;

    }
    h1 {
        margin-top: 0px;
    }

    img {
      width: 350px;
    }

  
    li:hover {
        text-decoration: underline;
    }
    
    .latvija {
        width: 600px;
    }

    .attels1 {
        width: 50px;
        position: absolute;
        top: 150px;
        left: 250px;
        transition: opacity 2s, scale 2s, transform 2s;
    }

     .attels2{
         width: 60px;
         position: absolute;
         top: 250px;
         left: 450px;
         transition: top 2s;
     }

         .attels1:hover{
             opacity: 50%;
             scale: 8;
             transform: rotate(890deg);
            
         }
         .attels2:hover{
             top: 100px;
         }

         .karte {
             position: relative;
         }
         

         .attels3 {
             position: absolute;
             top: 0px;
             left: 0px;
             width: 100px;
             animation-name: go;
             animation-duration: 10s;
         }

         @keyframes go {
             from {
             top: 0px;
             left: 0px;
             }

             25% {
                 top: 0px;
                 left: 500px;
             }

             50%{
               top: 200px;
               left: 500px;
             }
             75%{
                top: 200px;
                left: 0px;
             }

             to {
              top: 0px;
              left: 0px;
             }
         }

@media screen and (max-width: 600px) {
    body{
        background-color: olive;
    }
    #sidebar {
        display: none;
    }

    #content {
        margin-left: 0%;
        width: 100%;
    }
    
}

</style>
</head>